.tab {
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #000;
  color: #1E2419;
  text-align: center;
}

.selectedTab {
  font-size: 1em;
  cursor: pointer;
  padding: 10px;
  border-bottom: 5px solid #237395;
  color: #1E2419;
  font-weight: bold;
  text-align: center;
  /* background-color: #fff; */
}

.tab:hover {
  /* background-color: #79bfc7; */
  color: #A4A6A2;
}

.selectedTab:hover {
  /* background-color: #79bfc7; */
  color: #8B8B8B;
}