.dd-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.dd-header {
    margin-top: 5px;
    width: 90%;
    height: 31px;
    background-color: #1e2419;
    border-radius: 7px;
    padding: 0;
    outline: 0;
    cursor: pointer;
    border: 1px solid #9ca2a2
}

.dd-header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: center;
    justify-content: center;
    font-family: sans-serif;
    font-size: 18px;
    margin-top: -6px;
    color: #ffffff;
}

.dd-header-title-text {
    text-align: center;
}

.caret-icon {
    color: #5b5a5a;
    height: 45px;
    width: 35px;
    margin-left: auto;
}

.dd-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 35px;
}

.dd-list-item {
    width: 362px;
    height: 35px;
    background-color: #1e2419;
    border: 1px solid #9ca2a2;
    border-radius: 7px;
    padding: 0;
    z-index: 1;
    outline: none;
    cursor: pointer;
    color: #ffffff;
}

@media (max-width: 400px) {
    .dd-header {
        margin-top: 0px;
        width: 150px;
        height: 20px;
        border-radius: 7px;
        padding: 0px;
        outline: 0;
        cursor: pointer;
    }

    .dd-header-title {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-items: center;
        justify-content: center;
        font-family: sans-serif;
        font-size: 13px;
        margin-top: -14px;
    }

    .caret-icon {
        color: #5b5a5a;
        height: 45px;
        width: 20px;
        margin-left: auto;
    }

    .dd-list {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 19px;
    }

    .dd-list-item {
        width: 150px;
        height: 20px;
        border-radius: 7px;
        padding: 0;
        z-index: 1;
        outline: none;
        cursor: pointer;
    }
}